## **In this notebook, we convert the given csv file to pickle file along with some preprocessing.**

In [13]:
import csv
import pandas as pd
from tqdm.notebook import tqdm

>### **Create a dict after following preprocessing steps**
><ul>
><li>Selecting only jet particles (id = 'j')</li>
><li>In case more than one jet particle in an event, keeping all of them</li>
></ul>

In [19]:
jet_dict = {'E': [], 'pt': [], 'eta': [], 'phi': []}

with open('./monojet_Zp2000.0_DM_50.0_chan3.csv', 'r') as f:
    reader = csv.reader(f, delimiter=';')
    for row in tqdm(reader):
        for obj in row[5:]:
            obj_variables = obj.split(',')
            if obj_variables[0] == 'j':
                jet_dict['E'].append(float(obj_variables[1]))
                jet_dict['pt'].append(float(obj_variables[2]))
                jet_dict['eta'].append(float(obj_variables[3]))
                jet_dict['phi'].append(float(obj_variables[4]))

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0â€¦

>### **Convert dict to dataframe along with train and test split**

In [15]:
df = pd.DataFrame(data=jet_dict)

df_train = df.sample(frac = 0.80, random_state=1) 
df_test = df.drop(df_train.index)

>### **A brief look into the data**

In [16]:
df_train.head()

              E        pt       eta       phi
11092   73356.1   68288.8 -0.364836 -2.683820
6607   155625.0  114949.0  0.809188  3.009770
9670    36304.3   27072.0  0.792701  0.196966
13354  329132.0  280958.0 -0.575831  2.154610
16500  855691.0  647140.0  0.781380 -3.058920

In [17]:
df_test.head()

           E        pt       eta       phi
14  640313.0  589524.0  0.390749  1.237340
15  332790.0  126272.0  1.619980 -1.855240
18   47443.5   46891.6 -0.001507  2.455980
20   37600.4   31288.8  0.624681 -0.910782
27  127675.0   28650.7 -2.172010  2.553590

>### **Pickle the train and test split**

In [18]:
df_train.to_pickle("./jet_data_unnormed_80train.pkl")
df_test.to_pickle("./jet_data_unnormed_20test.pkl")